* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background: rgb(85, 85, 85);
}

/* ########################## */
h1 {
    font-size: 28px;
}
h1, h4 {
    color: #434242;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

i {
    margin: 0 3px;
}

b {
    font-weight: 500;
}

.text-link {
    color: #e60012;
}

.mini {
    font-size: 12px;
}

/* #####COLOURS##### */
.ntd-red {
    color: #e60012;
}
.ntd-grey {
    color: #434242;
}
.gr {
    background: rgb(231, 231, 231);
}

/* ######## NAV START ###########  */
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.7s ease-out;
    z-index: 3;
}

.whole-nav {
    height: 100%;
    background: rgb(248, 248, 248);
}

.nav-upper {
    border-bottom: #d6d6d6 1.3px solid;
    height: 55%;
    display: flex;
    justify-content: space-between;
}

.nav-upper-left {
    display: flex;
    width: 50%;
}

.logo {
    width: 135px;
    overflow: hidden;
}

.logo img {
    object-fit: cover;
    width: 100%;
    height: 48px;
    transform: scale(1.2);
}

.search-bar {
    width: 100%;
    height: 75%;
    margin: 5px 0 0 16px;
    border-bottom: 1.2px solid rgb(73, 73, 73);
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    margin-left: 4px;
    border: none;
}
input:focus {
    outline: none;
}

.nav-upper-right {
    
    display: flex;
    justify-content: flex-end;
}

.nav-upper-right a {
    text-decoration: none;
    color: #434242;
    margin-right: 22px;
}

.nav-upper-right a:hover {
    transition: 0.2s;
    color: #e60012;
}

.nav-upper-links {
    display: flex;
    align-items: center;
}

.nav-upper-login {
    display: flex;
    align-items: center;
}

.tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.tag {
    border: none;
    padding: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: #434242;
    font-size: 16px;
    cursor: pointer;
}
.tag:hover {
    transition: 0.2s;
    color: #e60012;
}

.menu-btn-container {
    display: none;
}

.menu-btn {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.menu-btn-burger {
    background-color: #434242;
    height: 4px;
    width: 24px;
    margin-right: 7px;
    border-radius: 1px;
    transition: all 0.5s ease;
}
.menu-btn-burger::before, .menu-btn-burger::after {
    content: "";
    position: absolute;
    background-color: #434242;
    height: 4px;
    width: 24px;
    border-radius: 1px;
    transform-origin: center;
    transition: all 0.6s ease;
}
.menu-btn-burger::before {
    transform: translateY(-8px);
}
.menu-btn-burger::after {
    transform: translateY(8px);
}

/* MENU ANIMATION  */
.menu-btn.open .menu-btn-burger {
    background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
}

/* ########## TOUCH NAV ######### */
.touch-nav-container {
    display: none;
}
.touch-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(248, 248, 248);
    border-top: rgb(175, 175, 175) 1.5px solid;
    z-index: 1;
}

.touch-nav-left, .touch-nav-right {
    display: flex;
    justify-content: center;
    width: 40%;
}

.tnbtn {
    background: transparent;
    color: #434242;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin: 10px 5px 7px 5px;
}

.touch-search {
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%);
    height: 60px;
    width: 60px;
    background: #e60012;
    color: #fff;
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ############ NAV END ############## */

.content-container {
    position: relative;
    background: rgb(102, 102, 102);
    margin-top: 80px;
}

.hero-mobile img {
    width: 100%;
    display: none;
}

.hero-back {
    background: #e60012;
    position: relative;
}

#false {
    width: 76%;
    visibility: hidden;
}

.esrb {
    position: absolute;
    height: 90px;
    right: 10px;
    bottom: 10px;
    z-index: 2
}

#hero{
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    z-index: 1;
}

.price-info {
    background: rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
}

.price-info-left {
    margin: 100px 16px 100px 30px;
    padding: 10px;
}

.ntd-switch {
    border-bottom: #e60012 2px solid;
    display: inline-block;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 10px;
}

.add-wishlist-btn {
    font-size: 18px;
    text-align: left;
    color: #e60012;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.add-wishlist-btn:hover {
    transition: 0.1s;
    color: #a5000e;
    border-bottom: #a5000e 2px solid;
}

.price-info-right {
    margin: 140px 30px 100px 0px;
    display: flex;
    justify-content: flex-end;
}

.price {
    padding: 10px;
}

.buy-container {
    padding: 10px;
}

.buy-digital-btn {
    font-size: 20px;
    background: #e60012;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.buy-digital-btn:hover {
    transition: 0.2s;
    background: #a5000e;
    transform: scale(1.02);
}

.points-container {
    display: flex;
    align-items: center;
    margin: 16px 0;
    text-decoration: none;
    cursor: pointer;
}
.points-link {
    color: #555555;
    text-decoration: none;
}
.points-link:hover {
    transition: 0.1s;
    border-bottom: #434242 2px solid;
}
#coin {
    width: 27px;
    margin-right: 7px;
}
 
.buy-physical-container {
    color: #e60012;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    cursor: pointer;
}
.buy-physical-container a{
    padding: 7px;
    text-decoration: none;
    color: #e60012;
}
.buy-physical-container a:hover {
    transition: 0.1s ease;
    color: #a5000e;
    border-bottom: 2px solid #a5000e;
}

/* #######REVIEWS#############  */
.reviews {
    background: rgb(248, 248, 248);
    padding: 10px;
    display: none;
}
.reviews-container {
    padding: 10px;
    margin: 10px;
    color: #434242;
}

/* ####### Gallery ##################### */
.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #e60012;
}

.gal-grid {
    width: 90%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 1fr 1fr ;
    /* grid-template-rows: auto; */
    grid-template-areas:
        "main . ."
        "main . .";
    gap: 0.5em;
    padding: 10px;
    cursor: grab;
}

.cover1 {
    display: flex;
    justify-content: center;
}

.cover2 {
    display: flex;
    justify-content: center;
    width: 100%;
    display: none;
}

.gallery-main {
    width: 100%;
    grid-area: main;
    border: black 1px solid;
}
.gallery-pic {
    width: 100%;
    border: black 1px solid;
}

.slider-btns {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 12px 0;
}
.slider {
    border: none;
    background: transparent;
    font-size: 50px;
    color: rgb(40, 45, 54);
    cursor: pointer;
}
.slider:hover {
    transition: 0.2s;
    color: rgb(0, 104, 223);
    transform: scale(1.2);
}
.slider-dot {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background: rgb(40, 45, 54);
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-dot:hover {
    background: rgb(0, 104, 223);
}
.dot-active {
    background: rgb(40, 45, 54);
    transform: scale(1.6);
}
.dot-active::before {
    content: "";
    height: 0.35rem;
    width: 0.35rem;
    border-radius: 50%;
    border: #e60012 solid 1.4px;
}

/* ######## GAME INFO ################ */
.game-info {
    background: rgb(248, 248, 248);
    padding: 20px;
}
.game-info-text-box {
    color: #434242;
    margin: 30px 20px 20px 0;
    padding: 3px;
    position: relative;
    /* overflow-y: hidden; */
}
.game-info-text-box ul {
    margin-left: 20px;
}

.text-fade {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 40%, rgb(248, 248, 248)80%);
    display: none;
}

.read-more-btn {
    display: none;
    padding: 7px;
    font-size: 18px;
    color: #e60012;
    background: transparent;
    border: none;
    cursor: pointer;
}

.explore-btn {
    font-size: 20px;
    background: #e60012;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 16px;
    margin: 20px 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.explore-btn:hover {
    transition: 0.2s;
    background: #a5000e;
    transform: scale(1.02);
}

/* ##### GAME FEATURES ################### */
.game-features {
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-stats {
    width: 94%;
    margin: 50px 0 10px 0;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 1em;
    grid-template-areas:
        ". ."
        ". lang"
        ". lang"
        ". lang";
}

.stat {
    padding: 10px;
    color: #434242;
    display: flex;
    align-items: center;
}

.stat i {
    font-size: 25px;
    color: #434242;
    margin: 5px 15px 5px 5px;
}

.languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: lang;
}

/* ################### MODES ############## */
.game-modes {
    margin: 20px 18px;
    color: #434242;
    display: flex;
    justify-content: space-around;
}

.play-modes {
    padding: 10px 20px;
    margin: 0 10px ;
    width: 50%;
}

.play-mode-icons {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mode-icon {
    width: 80px;
    margin-right: 12px;
}
.mode {
    text-align: center;
}

.esrb-rating {
    width: 50%;
    padding: 10px 30px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.esrb-disp {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esrb-rating img {
    width: 50px;
    margin-right: 10px;
}

.esrb-details {
    font-size: 15px;
}

/* ################ ONLINE SUPPORT############ */
.game-support {
    color: #434242;
    width: 94%;
    margin: 10px 0 40px 0;
    padding: 12px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "logo desc learnmore"
        "label buttons buttons";
        grid-gap: 2rem;
}

.online-logo {
    grid-area: logo;
    width: 180px;
}
.online-desc {
    grid-area: desc;
}

.learn-more {
    grid-area: learnmore;
    display: flex;
    align-items: center;
    /* padding-left: 20px; */
    /* height: 40px; */
    color: #434242;
    font-size: 21px;
    /* overflow-y: hidden; */
}
.learn-more-link {
    text-decoration: none;
    cursor: pointer;
}
.learn-more-link:hover {
    transition: 0.1s;
    border-bottom:grey 2px solid;
}

.label {
    grid-area: label;
}

.online-btns {
    grid-area: buttons;
}
.online-play-btn {
    background: #e60012;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 7px 12px;
    margin: 7px 10px;
    font-size: 20px;
    cursor: pointer;
}
.online-play-btn:hover {
    transition: 0.3s;
    background: #a5000e;
    transform: scale(1.05)
}

/* #############CONDITIONS ############# */
.conditions {
    background: rgb(248, 248, 248);
    padding: 40px;
}

/* ######## FOOTER ############# */
.footer-whole {
    background: rgb(248, 248, 248);
}

.footer-upper {
    width: 100%;
    padding-bottom: 20px;
}

.footer-upper-inner {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.list {
    margin: 0 5px;
    /* display: flex; */
}
.list ul, .list li a, .region-selector a {
    text-decoration: none;
    list-style: none;
    text-decoration-color: #434242;
    color: #434242;
}
.list li {
    margin: 0 0 7px 0;
    font-size: 13px;
}
.list li:hover, .region-selector a:hover {
    text-decoration: underline;
}

/* ######lower footer########### */
.footer-lower {
    background: linear-gradient(#363535, #525252);
    display: flex;
    flex-direction: column;
}

.footer-lower-icons {
    display: flex;
    justify-content: center;
    padding: 30px 5px 10px 5px;
}

.contact-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}
.contact-links a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.socials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.social-icons {
    display: flex;
    margin-top: 7px;
}
.social-icons img {
    width: 50px;
    margin: 0 7px;
    border-radius: 5px;
}

.esrb-cert img {
    width: 60px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 7px 25px 7px;
    color: #fff;
    font-size: 12px;
}
 
@media screen and (max-width: 1000px) {
    .esrb {
        right: 0;
        bottom: 0;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .content-container {
        padding-bottom: 90px;
    }
    .touch-nav-container {
        display: inline;
    }
    .menu-btn-container {
        display: inline;
    }
    .nav-upper-links {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .nav-lower {
        display: none;
    }
    .content-container {
        margin-top: 50px;
    }
    .hero-container {
        display: none;
    }
    .hero-mobile img {
        display: inline;
    }

    .price-info {
        flex-direction: column;
    }
    .price-info-left, .price-info-right {
        margin:20px;
        padding: 10px;
    }
    .price-info-right {
        flex-direction: column;
    }

    .reviews {
        display: block;
    }

    .gal-grid {
        grid-template-areas:
        "main main"
        ". ."
        ". .";
    grid-template-columns: 1fr 1fr;;
    }

    .slider-btns {
        width: 90%;
    }

    .more {
        display: none;
    }
    .text-fade {
        display: inline
    }

    .read-more-btn {
        display: inline;
    }

    .game-stats {
        display: inline;
    }
    .game-modes {
        flex-direction: column;
    }
    .play-modes, .esrb-rating {
        width: 100%;
        margin: 10px 0;
    }
    .game-support {
        display: flex;
        flex-direction: column;
    }
    
    .copyright {
        text-align: center;
    }
    
}

/* @media screen and (max-width: 640px) {

} */